
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_AuthsLayout.cshtml";
}

    <div class="modal" id="form-reset" tabindex="-1" style="display: block; padding-right: 17px;position: unset;
    font-family: 'Poppins', sans-serif;" aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="window.location='/'">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
                <div class="modal-body">
                    <div id="reset" class="login">
                        <h3>
                            <a href="javascript:void(0)" class="to-reset">Nhập email xác nhận?</a>
                        </h3>
                        @if (string.IsNullOrEmpty(ViewBag.ErrorEmailConfirmMessage))
                        {
                        <p>Vui lòng nhập địa chỉ email đã đăng kí với tài khoản của bạn.</p>
                        }
                        else{
                            <p class="text-danger">@ViewBag.ErrorEmailConfirmMessage</p>
                        }
                        <form asp-controller="Auths" asp-action="ForgotPassword" method="post">
                            <p>
                                <label>
                                    Địa chỉ email
                                    <br>
                                <input type="email" name="emailConfirm" class="input" value="@ViewBag.Email" size="20" required>
                                </label>
                            </p>
                            <p class="submit">
                                <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Xác nhận" />
                            </p>
                        </form>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>

    </div>

