@using DotNetTruyen.ViewModels
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "_AuthsLayout.cshtml";
}
<div class="modal" id="form-login" tabindex="-1" style="display: block; padding-right: 17px;position: unset;
    font-family: 'Poppins', sans-serif;" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="login" class="login">
                    <h3>
                        <a href="/Home" title="Madara Child X Theme" tabindex="-1">Đặt lại mật khẩu</a>
                    </h3>
                    <p class="message login">@ViewBag.ErrorResetMessage</p>
                    <meta name="robots" content="max-image-preview:large">
                    <form name="loginform" id="loginform" asp-controller="Auths" asp-action="ResetPassword" method="post">
                        <p>
                            <label class="password-container">
                                Mật khẩu mới *
                                <br> <input asp-for="NewPassword" class="input user_login" id="password" size="20">
                                <i class="fa-solid fa-eye eye-icon" id="togglePassword" onclick="togglePassword()"></i>
                            </label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </p>
                        <p>
                            <label>
                                Nhập lại mật khẩu mới *
                                <br> <input asp-for="ConfirmPassword" class="input user_pass" size="20">
                            </label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </p>
                        <p class="submit">
                            <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Xác nhận">
                        </p>
                        <input type="hidden" name="email" value="@ViewBag.Email" />
                        <input type="hidden" name="otp" value="@ViewBag.Otp" />
                    </form>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script src="~/js/toggleInputPassword.js"></script>